html {
    /* width: 90%; */
    background-image: url(../img/—Pngtree—gourmet\ food\ pizza\ background\ template_1092581.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* table,
th,
td {
    border: 1px solid;
} */

table {
    overflow-x: auto;
    border-spacing: 0;
}

tbody {
    white-space: nowrap;
}

th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

th {
    position: sticky;
    top: 0;
    background: #fff;
    vertical-align: bottom;
}

h1 {
    background-color: rgb(254 240 138) !important;
}

h1,
h2 {
    margin-bottom: 0.5em;
    font-size: xx-large;
    text-align: center;
    color: white;
}

/* .user {
    color: white;
    background: linear-gradient(to-right, #fa709a, #fee140) !important;
    -webkit-background-clip: text !important;
    background-clip: text;
} */

input {
    width: 120px;
    background: rgba(255, 255, 255, 0.466);
}

.messageSuccess {
    margin: 0.4em !important;
    border: rgb(65, 1, 1) 1px solid !important;
    border-radius: 5px !important;
    padding: 0.4em !important;
    background-color: rgb(240, 184, 182) !important;
    color: rgb(240, 29, 29) !important;
}

.messageError {
    margin: 0.4em !important;
    border: rgb(25, 105, 1) 1px solid !important;
    border-radius: 5px !important;
    padding: 0.4em !important;
    background-color: rgb(207, 255, 207) !important;
    color: rgb(81, 240, 81) !important;
}

.container {
    display: flex;
}

.outline {
    padding-left: 11px;
    border-radius: 30px;
    background-color: rgba(249, 253, 30, 0.445);
}

.operation {
    background: rgb(179, 224, 110);
    color: rgb(0, 0, 0);
    outline-color: #000000;
    /* text-shadow: #fff; */
    /* background: none; */
    width: 50px;
    border-radius: 30px;
}

.pizzas {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* border-right: white 2px solid; */
}

.pizza {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: yellow;
}

.btn {
    background-color: rgb(179, 245, 103);
    padding: 10px;
    border-radius: 15px;
}

.pay {
    background: greenyellow;

    padding: 9px;
    border-radius: 15px;
}

.user {
border: yellowgreen solid 0.5px;
background-color: #a2aa2c;
    display: grid;
    place-items: center;
  
    /* display: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%); */
}

button {
    background: greenyellow;
}

/* --tw-gradient-from: #facc15 var(--tw-gradient-from-position);
--tw-gradient-to: rgb(250 204 21 / 0) var(--tw-gradient-to-position);
--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to); */